
<div class="card mt-3" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%=data[0].nama %> </h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"><%=data[0].nohp %></h6>
    <p class="card-text"><%= data[0].email %> </p>
    <a href="/contact" class="card-link">&laquo; Kembali Ke Daftar Kontak</a>
  </div>
</div>