<p><%= typeof(result) %></p>

<table class="table">
  <tr>
    <th>Nama</th> <th>NIP</th> <th>Jabatan</th>
  </tr>
  <tr id="isiTabel">
    <td><%= result.nama %></td>
    <td><%= result.NIP %></td>
    <td><%= result.jabatan %></td>
  </tr>
</table>

<script src="/myscript.js"></script>